@import "tailwindcss";

@theme {
  --color-light: #fffdf9;
  --color-bg: #dccfc1;
  --color-primary: #b86b40;
  --color-primary-hover: #9f5833;
  --color-text: #181211;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-inter), sans-serif;
}

.title_font {
  font-family: var(--font-space-grotesk), sans-serif;
}

.shadow {
box-shadow: rgba(99, 99, 99, 0.068) 0px 2px 8px 0px;
}
